/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Basic resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #001f3f; /* Dark blue background */
  color: #fff;
}

.question-container {
  text-align: center;
  margin-top: 20px;
  background-color: #ffa500;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border: 8px solid #9b9b9b;
}

.question-title {
  font-size: 24px;
}

.middle-content-container{ 
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-items: center;
  margin: 40px;
}

.team-x-counts {
  font-size: 30px;
  background-color: #ff0000;
  color: #fff;
  padding: 50px;
  width: 140px;
  height: 140px;
  text-align: center;
  border-radius: 80px;
  border: 4px solid #9b9b9b;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px auto;
  width: 60%;
  padding: 20px;
}

.answer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.answer-number {
  width: 80px;
  height: 50%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #003366;
  border-radius: 50px;
  border: 3px solid #fff;
}

.answer-text {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #003366;
  border-radius: 50px;
  border: 3px solid #fff;
  text-align: left;
}

.answer-points {
  width: 100px;
  height: 50%;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #003366;
  border-radius: 50px;
  border: 3px solid #fff;
}

.next-question-link {
  text-align: center;
  margin-top: 20px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 10rem;  /* Adjust distance from the top */
  left: 50%;
  transform: translateX(-50%);  /* Center the container horizontally */
}

.team-one-scores {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collected-points {
  font-size: 24px;
  font-weight: bold;
  padding: 50px;
  background-color: #003366;
  border: 6px solid #9b9b9b;
  border-radius: 50%;
  text-align: center;
  width: 140px;
  height: 140px;
}

.team-two-scores{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.team-points {
  font-size: 24px;
  font-weight: bold;
  padding: 50px;
  background-color: #ffa500;
  border: 6px solid #9b9b9b;
  border-radius: 50%;
  text-align: center;
  width: 140px;
  height: 140px;
}

.team-name {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: #003366;
  border: 3px solid #9b9b9b;
  border-radius: 50px;
  text-align: center;
  width: 400px;
}

.next-question-link a {
  background-color: #ffa500; /* Orange for buttons */
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  bottom: 30px;
  position: fixed;
  bottom: 6rem;
  right: 30px;
}